@model QuizApp.Models.STUDENT_TBL

@{
    ViewBag.Title = "StudentSignup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="card  mb-3  col-lg-offset-2 col-lg-8" style="max-width: 90rem; margin-top: 10px; border: 2px solid #006d77; background-color: #cbb2fe; border-radius: 10px; box-shadow: -15px 11px 16px -7px rgba(0,0,0,0.29); ">
    <center><div class="card-header"><h2 style="color: #212529;">Student Signup</h2></div></center>
    <div class="card-body">



        @Html.Raw(TempData["CreateMsg"])
        @Html.Raw(TempData["SizeMsg"])
        @Html.Raw(TempData["ExtensionMsg"])

        <center>
            <img src="~/Content/img/studentsignup.png"  width="300" height="250" />
        </center>

        <div style="margin-top:10px;">
            @using (Html.BeginForm("StudentSignup", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.STUDENT_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.STUDENT_NAME, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.STUDENT_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentEmail, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.StudentEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StudentEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.STUDENT_IMAGE, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="file" name="ImageFile" class="form-control btn btn-primary" required />
                            @Html.ValidationMessageFor(model => model.STUDENT_IMAGE, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.STUDENT_PASSWORD, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.STUDENT_PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.STUDENT_PASSWORD, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="Signup" class="btn btn-success" />
                            @Html.ActionLink("If you have already Registered Please LOGIN", "Student_login", "Home", new { @class = "btn btn-info" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


